<h1><center>Ineuron Python Basic 6th Assignement

**1.What are escape characters, and how do you use them?**

In Python strings, the backslash "" is a special character, also called the "escape" character. It is used in representing certain whitespace characters: "\t" is a tab, "\n" is a newline, and "\r" is a carriage return

In [1]:
print("my \
name \
is")

my name is

**2.What do the escape characters n and t stand for?**

"\t" is a tab, "\n" is a newline

**3.What is the way to include backslash characters in a string?**

In [2]:
print('its a back slash \\ in a line')

its a back slash \ in a line

**4.The string "Howl's Moving Castle" is a correct value.Why isn't the single quote character in the word Howl's not escaped a problem?**

The single quote in Howl's is fine because you've used double quotes to mark the beginning and end of the string. like wise we can use double quotes in with single quotes

In [3]:
print("HowI's Moving Castle")

HowI's Moving Castle

In [4]:
# like wise we can use double quote in side single quote
print('Its a "Nice" Day')

Its a "Nice" Day

**5.How do you write a string of newlines if you don't want to use the n character?**

In [5]:
print("printing something in new line",end = '\n')
print("newline")

printing something in new line
newline

**6.What are the values of the given expressions?**

**'Hello, world!'[1] 'Hello, world!'[0:5] 'Hello, world!'[:5] 'Hello, world!'[3:]**

In [6]:
'Hello, world!'[1]

'e'

In [8]:
'Hello, world!'[0:5]

'Hello'

In [9]:
'Hello, world!'[:5]

'Hello'

In [10]:
'Hello, world!'[3:]

'lo, world!'

**7.What are the values of the following expressions?**

**'Hello'.upper() 'Hello'.upper().isupper() 'Hello'.upper().lower()**

In [11]:
'Hello'.upper()

'HELLO'

In [12]:
'Hello'.upper().isupper()

True

In [13]:
'Hello'.upper().lower()

'hello'

**8.What are the values of the following expressions?**

**'Remember, remember, the fifth of July.'.split() '-'.join('There can only one.'.split())**

In [14]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [15]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

**9.What are the methods for right-justifying, left-justifying, and centering a string?**

In [16]:
# left justified
str ="Shiva"
str.ljust(10,"-")

'Shiva-----'

In [17]:
# right justified
str ="My name is"
str.rjust(40,'*')

'******************************My name is'

In [18]:
# center justified
str ="My name is"
str.center(40,'*')

'***************My name is***************'

**10.What is the best way to remove whitespace characters from the start or end?**

In [19]:
str ="  gfgfgfgfgfgfgf yuyuyuuyuy  "
str.lstrip()

'gfgfgfgfgfgfgf yuyuyuuyuy  '

In [20]:
str ="  yytytytyyt mmamamam  "
str.rstrip()

'  yytytytyyt mmamamam'